<mat-card
  class="member-card"
  style="display: inline-block; width: 300px; margin: 10px"
>
  <img
    mat-card-image
    [src]="member.photoUrl || './assets/placeholder.png'"
    alt="{{ member.knownAs }}'s photo"
    style="
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    "
  />
  <mat-card-content>
    <h2>{{ member.knownAs || "No Name" }}</h2>
    <p>{{ member.introduction || "No Introduction" }}</p>
    <p>{{ member.age }}</p>
    <div class="button-container">
      <!-- Profile Button -->
      <button mat-icon-button [routerLink]="'/members/' + member.username">
        <mat-icon>account_circle</mat-icon>
      </button>
      <!-- Heart (Like) Button -->
      <button mat-icon-button (click)="addLike(member)">
        <mat-icon>favorite</mat-icon>
      </button>
      <!-- Message Button -->
      <button mat-icon-button>
        <mat-icon
          [routerLink]="'/members/' + member.username"
          [queryParams]="{ tab: 3 }"
          >message</mat-icon
        >
      </button>
    </div>
  </mat-card-content>
</mat-card>
