<div class="container">
  @if (member) {
  <div class="member-detail-container">
    <div class="header-container">
      <img
        [src]="member.photoUrl || './assets/placeholder.png'"
        alt="{{ member.knownAs || 'Placeholder' }}'s photo"
      />
      <h2>{{ member.knownAs }}</h2>
    </div>
    <div class="info-container">
      <p class="detail-item">Age: {{ member.age }}</p>
      <p class="detail-item">Last Active: {{ member.lastActive | date }}</p>
      <p class="detail-item">Member Since: {{ member.created | date }}</p>
      @if (member.city && member.country) {
      <p class="detail-item">
        Location: {{ member.city }}, {{ member.country }}
      </p>
      }
      <!-- Add other member details as needed -->
    </div>
    <div class="button-container">
      <button mat-button>Like</button>
      <button mat-button>Message</button>
    </div>
  </div>

  <div class="tab-container">
    <mat-tab-group>
      <mat-tab label="About">
        <div class="tab-content">
          <p>This is the About tab content for {{ member.knownAs }}.</p>
          <!-- Add more content as needed -->
        </div>
      </mat-tab>
      <mat-tab label="Interests">
        <div class="tab-content">
          <p>This is the Interests tab content for {{ member.knownAs }}.</p>
          <!-- Add more content as needed -->
        </div>
      </mat-tab>
      <mat-tab label="Photos">
        <div class="tab-content">
          <p>This is the Photos tab content for {{ member.knownAs }}.</p>
          <!-- Add more content as needed -->
        </div>
      </mat-tab>
      <mat-tab label="Messages">
        <div class="tab-content">
          <p>This is the Messages tab content for {{ member.knownAs }}.</p>
          <!-- Add more content as needed -->
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  }@else{
  <p>Loading...</p>
  }
</div>
