<div class="container">
  @if (member) {
  <div class="member-detail-container">
    <div class="header-container">
      <img
        [src]="member.photoUrl || './assets/placeholder.png'"
        alt="{{ member.knownAs || 'Placeholder' }}'s photo"
      />
      <h2>{{ member.knownAs }}</h2>
    </div>
    <div class="info-container">
      <p class="detail-item">Age: {{ member.age }}</p>
      <p class="detail-item">Last Active: {{ member.lastActive | timeago }}</p>
      <p class="detail-item">
        Member Since: {{ member.created | date : "dd MMM yyyy" }}
      </p>
      @if (member.city && member.country) {
      <p class="detail-item">
        Location: {{ member.city }}, {{ member.country }}
      </p>
      }
    </div>
    <div class="button-container">
      <button mat-button>Like</button>
      <button mat-button>Message</button>
    </div>
  </div>

  <div class="tab-container">
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="About">
        <div class="tab-content">
          <p>{{ member.introduction }}.</p>
        </div>
      </mat-tab>
      <mat-tab label="Interests">
        <div class="tab-content">
          <p>{{ member.interests }}.</p>
        </div>
      </mat-tab>
      <mat-tab label="Photos">
        <div class="tab-content">
          <p>{{ member.photos }}.</p>
        </div>
      </mat-tab>
      <mat-tab label="Messages">
        <div class="tab-content">
          <app-member-messages
            [username]="member.username"
            [messages]="messages"
          />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  }@else{
  <h3 style="display: flex; justify-content: center; align-items: center">
    No Users Yet
  </h3>
  }
</div>
