<!-- registration.component.html -->
<form class="example-form" [formGroup]="registerForm">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username" />
    <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
      Username is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
      Password must be at least 4 characters long
    </mat-error>
    <mat-error *ngIf="registerForm.get('password')?.hasError('maxlength')">
      Password cannot be more than 8 characters long
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="password"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    />
    <mat-error
      *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
    >
      Confirm Password is required
    </mat-error>
    <mat-error
      *ngIf="
        registerForm.hasError('isMatching') &&
        registerForm.get('confirmPassword')?.dirty
      "
    >
      Passwords do not match
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="registerForm.invalid"
  >
    Register
  </button>
  <button mat-raised-button color="info" (click)="cancel()">Cancel</button>
</form>
