form {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin-left: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  margin-left: 10px;
}

button[type="submit"] {
  background-color: #2196f3;
}

mat-card {
  margin: 10px;
  max-width: 400px;
}

img {
  max-width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container button {
  border-radius: 50%;
}
