<h3>Found: {{ pagination?.totalItems }}</h3>

<div class="sorting-buttons">
  <mat-button-toggle-group
    name="sorting"
    [(ngModel)]="userParams!.orderBy"
    #sortingGroup="ngModel"
  >
    <mat-button-toggle value="lastActive" (click)="loadMembers()"
      >Last Active</mat-button-toggle
    >
    <mat-button-toggle value="created" (click)="loadMembers()"
      >Newest Members</mat-button-toggle
    >
  </mat-button-toggle-group>
</div>

<form #filterForm="ngForm" (ngSubmit)="loadMembers()">
  <mat-form-field>
    <input
      matInput
      placeholder="Min Age"
      name="minAge"
      [(ngModel)]="userParams!.minAge"
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Max Age"
      name="maxAge"
      [(ngModel)]="userParams!.maxAge"
      type="number"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select name="gender" [(ngModel)]="userParams!.gender">
      @for (gender of genderList; track gender.value) {
      <mat-option [value]="gender.value">{{ gender.display }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-raised-button type="submit">Apply</button>
  <button mat-raised-button type="button" (click)="resetFilters()">
    Reset
  </button>
</form>

@for (member of members; track member.id) {
<app-member-card [member]="member"></app-member-card>
}@empty {
<h3 style="display: flex; justify-content: center; align-items: center">
  No Users Yet
</h3>
}

<mat-paginator
  [length]="pagination?.totalItems || 0"
  [pageSize]="userParams?.pageSize"
  (page)="changePage($event)"
  style="margin-top: 20px; font-size: 18px"
></mat-paginator>
