.spacer {
  flex: 1 1 auto;
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto; /* Push the login section to the right */
}

.login-section mat-form-field {
  margin-right: 8px;
  margin-top: 1.4rem;
}

.active {
  background-color: #007bff;
  color: #ffffff;
}
