<mat-toolbar color="primary">
  <span routerLink="/">
    <!-- <img
      src="path/to/your/dating-app-logo.png"
      alt="Dating App Logo"
      height="30"
    /> -->
    Dating App
  </span>
  <span class="spacer"></span>

  <ng-container *ngIf="accountService.currentUser$ | async">
    <button mat-button routerLink="/members" routerLinkActive="active">
      Matches
    </button>
    <button mat-button routerLink="/lists" routerLinkActive="active">
      Lists
    </button>
    <button mat-button routerLink="/messages" routerLinkActive="active">
      Messages
    </button>
  </ng-container>

  <button mat-button routerLink="/error" routerLinkActive="active">
    Errors
  </button>

  <ng-container *ngIf="accountService.currentUser$ | async">
    <button mat-button [matMenuTriggerFor]="menu">
      {{ (accountService.currentUser$ | async)?.username }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>

  <form
    class="login-section"
    #loginForm="ngForm"
    (submit)="login()"
    *ngIf="!(accountService.currentUser$ | async)"
  >
    <mat-form-field>
      <input
        name="username"
        [(ngModel)]="model.username"
        matInput
        placeholder="Username"
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        name="password"
        [(ngModel)]="model.password"
        matInput
        placeholder="Password"
        type="password"
      />
    </mat-form-field>
    <button mat-button>Login</button>
  </form>
</mat-toolbar>
