<mat-toolbar color="primary">
  <span routerLink="/"> Dating App </span>
  <span class="spacer"></span>

  @if (accountService.currentUser$ | async) {
  <button mat-button routerLink="/members" routerLinkActive="active">
    Matches
  </button>
  <button mat-button routerLink="/lists" routerLinkActive="active">
    Lists
  </button>
  <button mat-button routerLink="/messages" routerLinkActive="active">
    Messages
  </button>
  }

  <!-- <button mat-button routerLink="/error" routerLinkActive="active">
    Errors
  </button> -->

  @if (accountService.currentUser$ | async) {
  <button mat-button [matMenuTriggerFor]="menu">
    {{ (accountService.currentUser$ | async)?.knownAs }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/member/edit">Edit Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  } @if (!(accountService.currentUser$ | async)) {
  <form class="login-section" #loginForm="ngForm" (submit)="login()">
    <mat-form-field>
      <input
        name="username"
        [(ngModel)]="model.username"
        matInput
        placeholder="Username"
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        name="password"
        [(ngModel)]="model.password"
        matInput
        placeholder="Password"
        type="password"
      />
    </mat-form-field>
    <button mat-button>Login</button>
  </form>
  }
</mat-toolbar>
