.custom-card {
  width: 100%;
  margin-top: 16px;
}

.custom-card-content {
  padding: 16px;
}

.custom-card-footer {
  padding: 16px;
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.custom-input-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 8px;
}

.custom-chat-item {
  display: flex;
  align-items: center;
}

.custom-chat-img img {
  height: auto;
  border-radius: 50%;
  margin-right: 12px;
  width: 40px;
  height: 40px;
}

.custom-rounded-circle {
  border-radius: 50%;
}

.custom-header {
  margin-bottom: 8px;
}

.custom-text-muted,
.custom-text-danger,
.custom-text-success {
  margin-right: 8px;
}

.custom-form {
  display: flex;
  align-items: center;
}

.custom-button {
  cursor: pointer;
  border: none;
}

.custom-button:hover {
  background-color: #c82333;
}

.custom-primary {
  background-color: #dc3545;
  color: #fff;
}

.custom-chat {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-chat li {
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}
.custom-chat li:last-child {
  border-bottom: none;
}

.custom-chat-body p {
  margin: 0;
}
